a {
  display: block;
  text-decoration: none; }
  a:focus, a:hover, a:active {
    color: #333;
    text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "SimHei", "Arial Unicode MS"; }

.large-header {
  position: absolute;
  width: 100%;
  background: #fff;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1; }

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  z-index: 999; }

.ct-header {
  min-height: 50px;
  font-size: 14px;
  color: #333; }
  .ct-header .logo {
    height: 50px;
    float: left; }
    .ct-header .logo img {
      height: 50px; }
  .ct-header .info {
    height: 50px;
    width: 100px;
    line-height: 50px;
    font-size: 16px;
    color: #9575d6;
    float: right;
    position: relative; }
    .ct-header .info span {
      display: block;
      position: absolute;
      width: 20px;
      height: 50px;
      top: 0;
      left: -20px;
      background: url("../images/right-point.png") no-repeat center center;
      background-size: 10px auto; }

.ct-body {
  min-height: 550px;
  margin-top: 30px;
  margin:auto;
  margin-bottom: 10px; }
  .ct-body .ct-left-box {
    float: left;
    width: 224px;
    padding-top: 85px;
    padding-left: 88px;
    padding-right: 88px;
    padding-bottom: 92px;
    height: 375px;
    overflow: hidden;
    background: url("../images/phone-body.png") no-repeat center center; }
    .ct-body .ct-left-box img {
      box-shadow: 0 0 5px #ddd inset;
      border: 1px solid #ddd;
      border-radius: 3px; }
  .ct-body .ct-right-box {
    float: left;
    height: 550px;
   }
    .ct-body .ct-right-box .ct-info-box {
      width: 450px;
      min-height: 200px;
      padding-top: 100px;
      margin-left: 0;
      position: relative; }
      .ct-body .ct-right-box .ct-info-box p {
        font-size: 20px;
        line-height: 40px;
        margin: 0; }
    .ct-body .ct-right-box .ct-download-btn {
      width: 450px;
      margin-left: 0; }
      .ct-body .ct-right-box .ct-download-btn a {
        display: block;
        color: #fff;
        background-color: #ddd;
        float: left;
        padding: 2px 15px 2px 39px;
        height: 30px;
        line-height: 30px;
        border-radius: 16px;
        text-align: center;
        position: relative; }
        .ct-body .ct-right-box .ct-download-btn a:last-child {
          margin-left: 20px; }
        .ct-body .ct-right-box .ct-download-btn a:first-child {
          background-color: #9575d6; }
        .ct-body .ct-right-box .ct-download-btn a:last-child {
          cursor: default; }
        .ct-body .ct-right-box .ct-download-btn a span {
          display: block;
          position: absolute;
          width: 30px;
          height: 30px;
          top: 0;
          left: 10px; }
      .ct-body .ct-right-box .ct-download-btn .android-icon {
        background: url("../images/android.png") no-repeat center center; }
      .ct-body .ct-right-box .ct-download-btn .ios-icon {
        background: url("../images/ios.png") no-repeat center center; }

.bigger-h1 {
  color: #9575d6;
  font-size: 35px;
  margin-bottom: 7px; }

.page-0, .page-1, .page-2, .page-0-img, .page-1-img, .page-2-img {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 1s ease;
          transition: all 1s ease; }

.page-0, .page-1, .page-2 {
  top: 20px; }

.actived-0 .page-0 {
  visibility: visible;
  top: 100px;
  opacity: 1; }

.actived-0 .page-2 {
  top: 180px; }

.actived-0 .page-0-img {
  visibility: visible;
  opacity: 1; }

.actived-1 .page-1 {
  visibility: visible;
  top: 100px;
  opacity: 1; }

.actived-1 .page-0 {
  top: 180px; }

.actived-1 .page-1-img {
  visibility: visible;
  opacity: 1; }

.actived-2 .page-2 {
  visibility: visible;
  top: 100px;
  opacity: 1; }

.actived-2 .page-1 {
  top: 180px; }

.actived-2 .page-2-img {
  visibility: visible;
  opacity: 1; }

.ct-footer {
  position: fixed;
  width: 100%;
  height: 20px;
  line-height: 20px;
  bottom: 15px;
  left: 0;
  color: #d8d8d8;
  font-size: 12px;
  text-align: center; }
  .ct-footer p {
    margin: 0; }
